/*===================LOGIN=================================*/
*{
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.progress-bar {
    color: #333;
} 

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
    @include box-sizing(border-box);

	&:focus {
    z-index: 2;
	}
}

.form_cntrl:focus{
    border-color: #b73333!important;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(183, 51, 51, 0.35)!important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(183, 51, 51, 0.35)!important;
}

.btn_ses{
    color: #ead530!important;
    background-color: #b73333!important;
    border-color: #b73333!important;
}

.btn_ses:hover{
    color: #ead530!important;
    background-color: #983333!important;
    border-color: #983333!important;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top:30px; 
    background-color: #ffffff !important;  
	font-family: 'Montserrat', sans-serif;
    /*font-family: 'Muli', sans-serif;
    font-family: 'Baloo Bhai', cursive;  */
}

.login-form {
	margin-top: 55%;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input,
form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login] > div {
	text-align: center;
}
	
.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}

.form-links a {
	color: #b73333;
}

.links_a{
    margin-left:3%;
    color: #b73333!important;
}

a:hover{
	cursor: pointer;
}
/*============================END LOGIN ===========================================*/

/*=====================REGISTRO=========================*/

.form-control { margin-bottom: 10px; }

/*.alineacion_registro{
	position: relative;
    left: 85px;
    right: auto;
}*/

.modal_bkgrd{
   background-color:black;
   filter: alpha(opacity=90) !important;
   opacity:0.6 !important;
   z-index:20;
   border-radius: 3px 3px 3px 3px;
}

.modalpopup{
   background-color: #841a1a;
   height:27px;
   color:#ffda19;
}

.encabezado_modal{
    color:rgba(220, 193, 50, 0.79)!important;
    font-family: fantasy;
    font-size: large;
    text-align: center;
    margin-left: 44%;
}

.modal_content{
    background-color: antiquewhite;
    min-height: 20px;
    padding: 19px;
    border: 1px solid #c89c2c;
    padding: 20px 35px 20px 23px;
    border-radius: 11px;
}

.body_modal{
    background-color:antiquewhite!important;
}
/*============================OLVIDE MI CONTTRASEÑA ===========================================*/
.alineacion_Olvido{

}

.width_modal{
	width: 44% !important;
}