<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization requestEncoding="utf-8"/>
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  
    <authentication mode="Forms">
         <forms loginUrl="Default.aspx" name=".Egrs" protection="All" />
      </authentication>
    
      <authorization>
        <allow users="*" />
      </authorization>
  </system.web>
  <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    </appSettings>
  
    <connectionStrings>
       <add name="Connection" connectionString="Data Source=LAPTOP-AGM1JQEO\LGALAZ;Initial Catalog=CGARSoft; User ID=sa;Password=123; Integrated Security=false" providerName="System.Data.SqlClient" />
    </connectionStrings>

   <location path="AdminForms">
       <system.web>
          <authorization>
            <allow roles="IT" />
            <deny users="*" />
          </authorization>
       </system.web>
    </location>
  
    <location path="ContabilityForms">
       <system.web>
          <authorization>
            <allow roles="Contabilidad" />
            <deny users="*" />
          </authorization>
       </system.web>
    </location>

    <location path="ProductionForms">
      <system.web>
        <authorization>
          <allow roles="Produccion" />
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="AssemblyForms">
      <system.web>
        <authorization>
          <allow roles="Ensamble" />
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="DesignForms">
      <system.web>
        <authorization>
          <allow roles="Diseño" />
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="PurchaseForms">
      <system.web>
        <authorization>
          <allow roles="Compras" />
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="QualityForms">
      <system.web>
        <authorization>
          <allow roles="Calidad" />
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
    
    <location path="SalesForms">
      <system.web>
        <authorization>
          <allow roles="Ventas" />
          <deny users="*" />
        </authorization>
      </system.web>
    </location>
</configuration>
