<?xml version="1.0"?>

<configuration>   
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    
      <authentication mode="Forms">
        <forms loginUrl="Login.aspx" name=".Egrs" protection="All"/>
      </authentication>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>

    <connectionStrings>
      <add name="Connection" connectionString="Data Source=LAPTOP-AGM1JQEO\LGALAZ;Initial Catalog=Egresados_ITN; User ID=sa;Password=123; Integrated Security=false" providerName="System.Data.SqlClient"/>
      <remove name="Connection1"/>
      <add name="Connection1" connectionString="Data Source=LAPTOP-AGM1JQEO\LGALAZ;Initial Catalog=Egresados_ITN; User ID=sa;Password=123; Integrated Security=false" providerName="System.Data.SqlClient"/>
    </connectionStrings>

    <location path="AdminForms">
      <system.web>
        <authorization>
          <allow roles="Administrador"/>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
  
    <location path="DocentesForms">
      <system.web>
        <authorization>
          <allow roles="Docente"/>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>

    <location path="EgresadosForms">
      <system.web>
        <authorization>
          <allow roles="Egresado"/>
          <deny users="*"/>
        </authorization>
      </system.web>
    </location>
</configuration>
